body{  
    font-family:'Times New Roman', Times, serif;  
    background-color: rgb(87 162 187); 
  } 
    .container{
      padding: 10px 20px;
    }
  textarea {  
    width: 30%;  
    padding: 15px;  
    margin: 5px 0 22px -16;  
    display: inline-block;  
    border: none;  
    background: #817777;  
  }  
  
   .add {  
        padding: 5px 0px;  
    }  
  hr {  
    border: 1px solid #f1f1f1;  
    margin-bottom: 25px;  
  }  
  .registerbtn {  
    background-color: #4CAF50;  
    color: white;  
    padding: 16px 20px;  
    margin: 8px 0;  
    border: none;  
    cursor: pointer;  
    width: 30%;  
    opacity: 0.9; 
    align-content: center; 
  }  
  .registerbtn:hover {  
    opacity: 0.5;
    background: darkblue;

  }  